.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #27ae60;
}
@media screen and (max-width: 425px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.logo {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}

.navigation-menu {
  display: flex;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .navigation-menu {
    margin-left: auto;
  }
}

.navigation-menu__link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.body {
  background-color: #212121;
  color: white;
  transition: background-color 0, 3s linear, color 0.3s linear;
}

.body:has(#theme-toggle:checked) {
  background-color: rgba(167, 167, 167, 0.664);
  --white-color: black;
}

.old-toggle {
  opacity: 0;
  overflow: hidden;
}

.new-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  background-color: black;
  border-radius: 24px;
}

.new-toggle::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #27ae60;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.4s linear;
}

.old-toggle:checked + .new-toggle::before {
  transform: translateX(26px);
}

input[type=checkbox]:checked + .new-toggle {
  background-color: white;
}

.wrapper-toggle {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .wrapper-toggle {
    margin-left: 32px;
  }
}

.old-toggle {
  position: absolute;
  top: 0;
  left: 0;
}

.ab {
  display: flex;
  gap: 16px;
  padding-bottom: 18px;
}

.footer_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #e5e5ea;
}

.social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #27ae60;
  border-radius: 50%;
  transition: background-color 0.3s easy;
}

.social_link:hover {
  background-color: purple;
}

.footer {
  padding-top: 41px;
  padding-bottom: 32px;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .footer_wrapper {
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about {
  padding-top: 52px;
  padding-bottom: 48px;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 56px;
}
@media screen and (max-width: 1240px) {
  .about_wrapper {
    flex-direction: column;
  }
}

.about_title {
  font-family: "DM Sans", sans-serif;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #fff;
}

.about_descr {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 576px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.about_img {
  border-radius: 16px;
  width: 400px;
  height: 236px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .about_img {
    width: 560px;
    height: 396px;
  }
}

.about_right-side {
  max-width: 560px;
}

.about_paragraph-first {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  max-width: 560px;
  font-size: 18px;
  align-items: center;
  text-align: justify;
  color: #fff;
}

.about_paragraph-secondary {
  margin-top: 32px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
  text-align: justify;
  color: #fff;
}

.about_action-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px 34px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  margin-top: 56px;
}
@media screen and (min-width: 1240px) {
  .about_action-link {
    width: auto;
  }
}

.about_wrapper-code {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-top: 64px;
}
@media screen and (max-width: 1240px) {
  .about_wrapper-code {
    flex-direction: column;
  }
}

.about_icon {
  background-color: #212121;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.asd {
  width: 200px;
}

.about_title-code {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-top: 32px;
  color: #fff;
}

.about_text-code {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  width: 200px;
  color: #fff;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 41px;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
@media screen and (max-width: 768px) {
  .contacts_wrapper {
    display: inline-block;
  }
}

.contacts_icon {
  border-radius: 16px;
}

.contacts_title {
  font-family: "DM Sans", sans-serif;
  max-width: 316px;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 32px;
  text-align: center;
  color: #fff;
}

.contacts_subtitle {
  max-width: 292px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 28px;
  color: #fff;
}

.contacts_link {
  display: flex;
  align-items: center;
  gap: 24px;
}

.contacts_list {
  flex-basis: 292px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts_text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.inner_social-media {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contacts_input {
  display: block;
  max-width: 250px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4f4f4f;
}

.contacts_label {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #4f4f4f;
}

.contacts_title-h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.contacts_form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.textarea {
  border: 1px solid #4f4f4f;
  border-radius: 8px;
  width: 480px;
  height: 109px;
  background-color: transparent;
  resize: none;
}
@media screen and (max-width: 425px) {
  .textarea {
    width: 250px;
  }
}

.form_row {
  display: flex;
  max-width: 570px;
  margin-bottom: 47px;
  gap: 70px;
}
@media screen and (max-width: 425px) {
  .form_row {
    max-width: 250px;
    flex-direction: column;
  }
}

.form__input {
  position: relative;
}

.contacts_label {
  position: absolute;
  top: 10px;
  left: 2px;
  transition: transform 0.2s linear;
}

.contacts_input {
  color: white;
}

.contacts_input:focus {
  outline: none;
}

.contacts_input:not(:-moz-placeholder) + .contacts_label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #27ae60;
}

.contacts_input:focus + .contacts_label,
.contacts_input:not(:placeholder-shown) + .contacts_label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #27ae60;
}

.submit {
  background-color: #27ae60;
  border-radius: 8px;
  max-width: 143px;
  padding: 12px 32px;
}
@media screen and (max-width: 768px) {
  .submit {
    display: inline-block;
    width: 100%;
  }
}

.contacts_but {
  display: block;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
}

.hero {
  padding-top: 50px;
  padding-bottom: 52px;
}

.hero__subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

.hero__title {
  margin-top: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
}

.hero__description {
  margin-top: 32px;
  max-width: 400px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
@media screen and (min-width: 1024px) {
  .hero__description {
    max-width: 560px;
  }
}

.hero-action {
  margin-top: 40px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero-action {
    width: auto;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .hero-action {
    margin-top: 80px;
  }
}

.hero-action__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .hero-action__link {
    width: auto;
  }
}

.hero-action__link-primary {
  background-color: #27ae60;
  padding: 12px 24px;
}

.hero-action__link-secondary {
  outline: 1px solid #fff;
  padding: 12px 32px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    gap: 40px;
  }
}

.hero__img {
  width: 300px;
  height: 300px;
  position: relative;
  border: 5px solid #27ae60;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
@media screen and (min-width: 1240px) {
  .hero__img {
    width: 500px;
    height: 500px;
  }
}

.hero__ava {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}
@media screen and (min-width: 1240px) {
  .hero__ava {
    width: 460px;
    height: 460px;
  }
}

.hero_baige {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  background-color: white;
  padding: 16px 24px;
  border-radius: 8px;
  color: #000;
  position: absolute;
  bottom: 20px;
  left: -5px;
}
@media screen and (min-width: 1240px) {
  .hero_baige {
    bottom: 100px;
    left: -50px;
  }
}

.hero_online {
  width: 32px;
  height: 32px;
  position: absolute;
  background-color: #34c759;
  border-radius: 100%;
  bottom: 16px;
  right: 32px;
}
@media screen and (min-width: 1240px) {
  .hero_online {
    bottom: 70px;
    right: 37px;
  }
}

.text-container {
  width: 189px;
  margin: 50px auto;
}

.hero__subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #828282;
  animation: typing1 4s steps(60, end) infinite;
}

.hero_animation {
  animation: ava 10s linear 0s infinite;
}

.text-container p {
  animation: typing 8s steps(60, end) infinite;
}

@keyframes typing1 {
  from {
    width: 0;
  }
}
@keyframes typing {
  0%, 50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}
.portfolio {
  padding-top: 48px;
  padding-bottom: 80px;
}

.portfolio_title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}

.portfolio_subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  max-width: 576px;
  margin-top: 16px;
  margin-bottom: 64px;
  color: #fff;
}

.portfolio_list {
  border-radius: 16px;
  height: 400px;
  background: #fff;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .portfolio_list {
    margin-top: 20px;
  }
}

.portfolio_title-project {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  padding-top: 16px;
  padding-left: 24px;
  color: #132238;
}

.portfolio_text-project {
  font-family: "DM Sans", sans-serif;
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  padding: 8px 24px;
  text-align: justify;
  color: #556070;
}

.portfolio_thumb {
  position: relative;
}

.portfolio_item {
  border-radius: 8px;
  padding: 8px 10px;
  padding: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #27ae60;
}

.portfolio_link {
  font-family: "DM Sans", sans-serif;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: justify;
  color: #fff;
}

.portfolio_wrapper {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .portfolio_wrapper {
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .portfolio_wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */